.sidebarOptions {
  display: flex;
  align-items: center;
  padding: 0.75rem 0 0.75rem 1rem;
  cursor: pointer;
  opacity: 0.7;
}

.sidebarOptions:hover {
  background-color: #dcdcdc;
  width: 12rem;
  border-radius: 10px;
  opacity: 1;
}

.sidebarOptions__icon {
  font-size: 2.5rem !important;
  font-weight: 300;
  padding-right: 0.5rem;
  color: #fff;
}

.sidebarOptions > h3 {
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .sidebarOptions > h3 {
    display: none;
  }

  .sidebarOptions:hover {
    width: 6rem;
  }
}
